@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}

.scrollbar {
    scrollbar-color: red white;
    scrollbar-width: thin;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background-color: white;
    }
    &::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 5px;
    }
}

@layer components {
    .navbar-active .hamburger div:first-child {
        @apply rotate-45 translate-y-1.5;
    }
    .navbar-active .hamburger div:last-child {
        @apply -rotate-45 -translate-y-1;
    }
    .navbar-active div:first-child div:first-child div:last-child {
        @apply block lg:flex;
    }
}
